:root {
    --ff-prim: Outfit, sans-serif;
    --clr-light-gray: #D5E1EF;
    --clr-dark-navy: #1F314F;
    --clr-gray: #7D889E;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  block-size: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--clr-light-gray);
  font-family: var(--ff-prim);
}

main {
  inline-size: 320px;
}

.qr {
  padding: 16px 16px 40px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 25px 25px hsla(0deg, 0%, 0%, 0.05);
}

.qr_img {
  display: block;
  inline-size: 100%;
  margin-bottom: 24px;
  border-radius: 10px;
}

.qr_title {
  margin-block-end: 16px;
  color: var(--clr-dark-navy);
  font-size: 22px;
  font-weight: 700;
}

.qr_text {
  inline-size: 256px;
  margin-inline: auto;
  color: var(--clr-gray);
  font-size: 15px;
  letter-spacing: 1px;
}